#button {
	display:inline-block;
	vertical-align: top;
}
.button {
	display:block;
	vertical-align: top;
}
#image1 {
	width: 50vw
}
#title {
	border: 40px ridge Maroon;
	background-color: black;
	color: white;
	font-size: 2vw;
	text-align: Center;
	display:inline-block;
	vertical-align:top;
	height: 10vw;
	padding-top:10px;
}
.title {
	border: 10px thick #9BBE00;
}
.LINKS {
	display:block;
	background-color:hotpink;
}
.PAGES {
	border: 80px ridge darkgreen;
	margin-right: 0px;
	margin-left: 0px;
	width:86vw;
}
.counter {
	display:inline-block;
	font-size: 80px;
	margin:15px;
}
.AbootMe {
	display:inline-block;
	font-size: 1.2vw;
	border: 40px ridge purple;
	margin-left: -5px;
	padding-top: 10px;
	width: 51.5vw;
	height: 10vw;
	background-color:yellowgreen
}
.websites {
	font-size: 2vw;
}
#Links {
	display:block;
	font-size: 5vw;
}
body {
	background-color: #888700;
}
.question {
	display:flow-root;
}