body {
	background-color:black;
}
p, li, h1 {
	color: white;
	border-radius:10px;
	padding: 15px;
	margin: 50px;
	margin-top:10px;
	margin-bottom:10px;
}
img {
	border:10px outset;
	border-color:#FF0000;
	
}
hr{
	background-color: darkred;
}
h3 {
	display: inline-block;
	width:200px;
}
#r {
	background-color: red
}
#b {
	background-color: blue;
}
#g {
	background-color:green;
}

.class1 {
	color: white;
	border: 1px solid white;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: -1px;
	margin-right: -5px;
	margin-left: 0px;
}
.class2 {
	color: white;
	border: 1px solid white;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: -1px;
	margin-right: -5px;
	margin-left: 0px;
}
<div>
.scale-me {
	display:inline-block;
	border: 1px solid white;
	margin: -2px;
	text-align: justify;
	font-size: 2vw;
}